<div class="row block-wrapper">
  <div class="col s12 m12">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <div class="col s12">
          <a href="#!" class="breadcrumb">Адміністративна зона</a>
          <a href="#!" class="breadcrumb">Список груп</a>
          <a href="#!" class="breadcrumb">Редагування групи</a>
        </div>
      </div>
    </nav>
    <div class="card-panel">
      <div class="main-title">
        <h3>Редагування існуючої групи</h3>
      </div>

      <div class="group-form">
        <app-group-form></app-group-form>
      </div>
    </div>
  </div>
</div>
