<li class="media">
  <div class="media-body">
    <div class="media">
      <!--<a class="pull-left" href="#">-->
      <!--<img class="media-object img-circle " src="../images/user.png" />-->
      <!--</a>-->
      <div class="media-body" >
        {{ message.msg }}
        <br />
        <div *ngIf="message.photos">
          <img *ngFor="let photo of message.photos | images" src="{{ photo }}" class="message-image" />
        </div>
        <br />
        <small class="text-muted">{{ message.author.first_name }} {{ message.author.last_name }} | {{ message.created_at | date:'dd MMMM y, HH:mm:ss' }}</small>
        <hr />
      </div>
    </div>
  </div>
</li>
