<div class="row block-wrapper">
  <div class="col s12 m12">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <div class="col s12">
          <a href="#!" class="breadcrumb" routerLink="/admin">Адміністративна зона</a>
          <a href="#!" class="breadcrumb" routerLink="/admin/groups">Список груп</a>
          <a href="#!" class="breadcrumb" routerLink="/admin/groups/create">Створення нової групи</a>
        </div>
      </div>
    </nav>
    <div class="card-panel">
      <div class="main-title">
        <h3>Створення нової групи</h3>
      </div>

      <div class="user-form">
        <app-group-form (onSubmit)="onCreateGroup($event)"></app-group-form>
      </div>
    </div>
  </div>
</div>

<div materialize [materializeParams]="['Навчальна група успішно створена', 4000]" [materializeActions]="createGroupActions"></div>
