<div>
  <h1>Форма авторизації</h1>

  <div>
    <div class="error-message" *ngIf="errorMessage !== ''">
      {{ errorMessage }}
    </div>
    <div class="success-message" *ngIf="successMessage !== ''">
      {{ successMessage }}
    </div>

    <div *ngIf="user">
      {{ user | json }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label>
          Email: <input formControlName="email">
        </label>

        <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="alert alert-danger">
          <p *ngIf="loginForm.controls.email.errors.required">
            Це поле обов’язкове до заповнення
          </p>

          <p *ngIf="loginForm.controls.email.errors.pattern">
            Email має не вірний формат
          </p>
        </div>
      </div>

      <div>
        <label>
          Пароль: <input type="password" formControlName="password">
        </label>


        <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="alert alert-danger">
          <p *ngIf="loginForm.controls.password.errors.required">
            Це поле обов’язкове до заповнення
          </p>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
