<div class="authorization-page">
  <h1>Авторизація</h1>

  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col s12 row">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" formControlName="email">
          <label for="email">Email</label>

          <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty" class="alert alert-danger">
            <p *ngIf="loginForm.controls.email.errors.required">
              Це поле обов’язкове до заповнення
            </p>

            <p *ngIf="loginForm.controls.email.errors.pattern">
              Email має не вірний формат
            </p>
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" formControlName="password">
          <label for="password">Пароль</label>


          <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="alert alert-danger">
            <p *ngIf="loginForm.controls.password.errors.required">
            Це поле обов’язкове до заповнення
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!loginForm.valid">Вхід</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div materialize [materializeParams]="['Ви успішно авторизовані в системі', 4000]" [materializeActions]="loginAction"></div>
<div materialize [materializeParams]="['Під час авторизації сталася помилка, можливо ви ввели не вірні дані', 4000]" [materializeActions]="loginErrorAction"></div>
