<div class="r-page">
  <h1>Форма реєстрації</h1>
  <div class="row">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="col s12 row">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" formControlName="first_name" type="text" class="validate">
          <label for="first_name">Ім’я</label>

          <div *ngIf="!registrationForm.controls.first_name.valid && registrationForm.controls.first_name.dirty" class="alert alert-danger">
            <p *ngIf="registrationForm.controls.first_name.errors.required">
              Це поле обов’язкове до заповнення
            </p>
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="last_name" formControlName="last_name">
          <label for="last_name">Прізвище</label>

          <div *ngIf="!registrationForm.controls.last_name.valid && registrationForm.controls.last_name.dirty" class="alert alert-danger">
            <p *ngIf="registrationForm.controls.last_name.errors.required">
              Це поле обов’язково до заповнення
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="username" formControlName="username">
          <label for="username">Нікнейм:</label>

          <div *ngIf="!registrationForm.controls.username.valid && registrationForm.controls.username.dirty" class="alert alert-danger">
            <p *ngIf="registrationForm.controls.username.errors.required">
              Це поле обов’язкове до заповнення
            </p>
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" formControlName="email">
          <label for="email">Email</label>

          <div *ngIf="!registrationForm.controls.email.valid && registrationForm.controls.email.dirty" class="alert alert-danger">
            <p *ngIf="registrationForm.controls.email.errors.required">
              Це поле обов’язкове до заповнення
            </p>

            <p *ngIf="registrationForm.controls.email.errors.pattern">
              Email має не вірний формат
            </p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" formControlName="password">
          <label for="password">Пароль</label>

          <div *ngIf="!registrationForm.controls.password.valid && registrationForm.controls.password.dirty" class="alert alert-danger">
            <p *ngIf="registrationForm.controls.password.errors.required">
              Це поле обов’язкове до заповнення
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button type="submit" [disabled]="!registrationForm.valid" class="waves-effect waves-light btn">Зареєструватись</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div materialize [materializeParams]="['Ви успішно зареєстровані в системі', 4000]" [materializeActions]="registrationAction"></div>
<div materialize [materializeParams]="['Під час реєстрації сталася помилка', 4000]" [materializeActions]="registrationErrorAction"></div>
