<div class="row block-wrapper">
  <div class="col s12 m12">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <div class="col s12">
          <a href="#!" class="breadcrumb" routerLink="/admin">Адміністративна зона</a>
          <a href="#!" class="breadcrumb" routerLink="/admin/groups">Список груп</a>
        </div>
      </div>
    </nav>
    <div class="card-panel">
      <div class="main-title">
        <h3>Список груп</h3>
      </div>
      <div class="search-area">
        <form class="col s12 search-consultation" ngNoForm>
          <div class="row search-form">
            <div class="input-field col s8">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text" (keyup)="onFilterGroup(filteredValue)" [(ngModel)]="filteredValue">
              <label for="search">Пошук</label>
            </div>
          </div>
        </form>
      </div>
      <div class="users-list">
        <table class="list-of-elements">
          <thead>
          <tr>
            <th>Назва</th>
            <th>Кількість студентів</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let group of filteredGroups">
            <td>{{ group.name }}</td>
            <td>{{ group.students.length }}</td>
            <td>
              <i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Редагувати" [routerLink]="['/admin/groups', group.id, 'edit']">edit</i>
              <i materialize="tooltip" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Видалити" (click)="onDelete(group)">delete</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light teal" routerLink="/admin/groups/create">
    <i class="large material-icons">add</i>
  </a>
</div>

<div materialize [materializeParams]="['Навчальна група успішно видалена', 4000]" [materializeActions]="deleteGroupActions"></div>
