body{
  .fixed-action-btn{
    left: 78%;
    bottom: 13px;
  }
  div#modal2.modal.open{
    width: 450px;
    height: 210px;
  }
  div#modal3.modal.open{
    width: 450px;
    height: 700px;
  }
}
.chat-page{

  .rooms{
    background-color: #0277BD;
    color: #fff;
    height: 106px;
    padding: 0 5px 0;
    text-align: center;
    a{
      color: #fff;
      &:hover{
        text-decoration: underline;
      }
    }
    #tabs{
      padding-top: 5px;
    }
    #tabs-two{
      padding-top: 5px;
      .fixed-action-btn{
        width: 63px;
      }
    }

  }
  .panel-heading{
    color: #fff;
    background-color: #0277BD;
    padding: 5px;
  }
  .row{
    margin-bottom: auto;
  }
  div.chat{
    float: left;
    width: 85%;
    min-height: 569px;
    border: 1px solid #bababa;
    .panel-body{
      overflow: auto;
      height: 425px;
      padding: 0 18px 0;
    }
    .panel-footer{
      padding: 15px 20px 0;
      #block1{
        float: left;
        width: 94%;
      }
      #block2{
        float: left;
        width: 6%;
        button{
          padding: 0 20px 0;
          border-radius: 60px;
          &:hover{
            background-color: #ff6d00;
            //background-color: #E8E373;
          }
        }
      }
    }

  }
  div.online{
    .panel-body{
      overflow: auto;
      height: 497px;
      padding: 0 18px 0;
    }
    float: left;
    width: 15%;

    border: 1px solid #bababa;

    text-align: center;
  }

}

.footer-panel {
  height: 87px;
}

.invite-users-modal {
  height: 700px;
}

.open-rooms-link {
  cursor: pointer;
}
