<div class="chat-page">

  <div class="row">
    <div class="col-md-4 online">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p>
            <a [routerLink]="['/']" routerLinkActive="active">
              <i class="material-icons" style="color: #ff6d00;">fast_rewind</i>
            </a>
            <i class="material-icons">perm_identity</i>Користувачі
          </p>
        </div>
        <div class="panel-body">
          <members [members]="members"></members>
        </div>
      </div>
    </div>
    <div class="col-md-8 chat">
      <div class=" panel panel-info">
        <div class="panel-heading">
          <p>Історія чату</p>
        </div>
        <div class="panel-body">
          <messages [messages]="messages"></messages>
        </div>
        <message-form (sendMessage)="onSendMessage($event)"></message-form>
      </div>
    </div>
  </div>

  <div class="rooms">
    <div class="panel panel-info">
      <div class="row">
        <!--<form materialize class="col s12">-->
          <div class="row">
            <div class="input-field col s4" style="color: white">
              <i class="material-icons prefix" style="color: white">search</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix" style="color: white">Пошук кімнати</label>
            </div>
            <div class="input-field col s4">
              <div id="tabs">
                <a (click)="openRoomsModal()">
                  <i class="material-icons" >room</i>Кімнати:
                </a>
              </div>
            </div>
            <div class="input-field col s2">
              <div id="tabs-two">
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large teal">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a href="#modal2" class="btn-floating orange accent-4" title="Додати кімнату"><i class="material-icons">playlist_add</i></a></li>
                    <li><a href="#modal3" class="btn-floating green accent-4" title="Додати користувачів"><i class="material-icons">add</i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>


<!-- Modal-one Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="roomsModal">
  <div class="modal-content">
    <rooms [rooms]="rooms" (selectRoom)="onSelectRoom($event)"></rooms>
  </div>
</div>
<!-- Modal-two Structure -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="row">
      <!--<form class="col s12">-->
        <!--<div class="row">-->
          <!--<div class="input-field col s12">-->
            <!--<input id="input_text" type="text">-->
            <!--<label for="input_text">Введіть назву</label>-->
            <!--<button type="submit" class="light-blue darken-3 btn">-->
              <!--<i class="material-icons right">playlist_add</i>Додати-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    </div>
  </div>
</div>
<!-- Modal-three Structure -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Вибрати користувачів
    </h4>
    <div class="input-field col s6">
      <select multiple>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">VAsya</option>
        <option value="2">DIn</option>
        <option value="3">Inna</option>
      </select>
    </div>
    <button type="submit" class="light-blue darken-3 btn" style="margin-top: 15px">
      <i class="material-icons right">playlist_add</i>Додати
    </button>
  </div>
</div>
