<div class="chat-page">

  <div class="row">
    <div class="col-md-4 online">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p>
            <a [routerLink]="['/']" routerLinkActive="active">
              <i class="material-icons" style="color: #ff6d00;">fast_rewind</i>
            </a>
            <i class="material-icons">perm_identity</i>Користувачі
          </p>
        </div>
        <div class="panel-body">
          <members [members]="members"></members>
        </div>
      </div>
    </div>
    <div class="col-md-8 chat">
      <div class=" panel panel-info">
        <div class="panel-heading">
          <p>Історія чату</p>
        </div>
        <div class="panel-body">
          <messages [messages]="messages"></messages>
        </div>
        <message-form (sendMessage)="onSendMessage($event)" *ngIf="isJoinedToRoom"></message-form>
      </div>
    </div>
  </div>

  <div class="rooms">
    <div class="panel panel-info footer-panel">
      <div class="row">
        <!--<form materialize class="col s12">-->
          <div class="row">
            <!--<div class="input-field col s4" style="color: white">-->
              <!--<i class="material-icons prefix" style="color: white">search</i>-->
              <!--<input id="icon_prefix" type="text" class="validate">-->
              <!--<label for="icon_prefix" style="color: white">Пошук кімнати</label>-->
            <!--</div>-->
            <div class="input-field col s4">
              <div id="tabs">
                <a (click)="openRoomsModal()" class="open-rooms-link">
                  <i class="material-icons" >room</i>Кімнати
                </a>
              </div>
            </div>
            <div class="input-field col s2" *ngIf="user?.role == 'teacher'">
              <div id="tabs-two">
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large teal">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a href="#modal2" class="btn-floating orange accent-4" title="Додати кімнату" (click)="openCreateRoomModal()"><i class="material-icons">playlist_add</i></a></li>
                    <li><a href="#modal3" class="btn-floating green accent-4" title="Додати користувачів" (click)="openInviteUsersModal()"><i class="material-icons">add</i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>


<!-- Modal-one Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="roomsModal">
  <div class="modal-content">
    <rooms [rooms]="rooms" (selectRoom)="onSelectRoom($event)" (closePopup)="onCloseSelectRooms()"></rooms>
  </div>
</div>


<!-- Modal-two Structure -->
<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="createRoomModal">
  <div class="modal-content">
    <app-create-room-form (createRoom)="onCreateRoom($event)" (closeForm)="onCloseRoomForm()"></app-create-room-form>
  </div>
</div>

<!-- Modal-three Structure -->
<div id="modal3" class="modal invite-users-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="inviteUsersModal">
  <div class="modal-content">
    <app-invite-users-form [channelGroups]="groups" [allGroups]="allGroups" (closeInviteUsers)="onCloseInviteUsersPopup()" (selectUsers)="onSelectUsersForInvite($event)"></app-invite-users-form>
  </div>
</div>

<div materialize [materializeParams]="['Кімната успішно створена', 4000]" [materializeActions]="createRoomAction"></div>
<div materialize [materializeParams]="['Користувачі успішно запрошені до кімнати', 4000]" [materializeActions]="inviteUsersAction"></div>
<div materialize [materializeParams]="['Кімната успішно вибрана', 4000]" [materializeActions]="selectRoomAction"></div>
