<div class="row">
  <form class="col s12" [formGroup]="roomForm" (ngSubmit)="onCreateRoom()">
    <div class="row">
      <div class="input-field col s12">
        <input id="input_text" type="text" formControlName="name">
        <label for="input_text">Введіть назву</label>

        <button type="submit" class="light-blue darken-3 btn">
          <i class="material-icons right">playlist_add</i>Додати
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col s12">
    <a class="btn btn-success right" (click)="onCloseForm()">Закрити форму</a>
  </div>
</div>
