<div class="row">
  <h3 class="center">Головна сторінка</h3>
  <div class="row">
    <div class="col m12 l12">
      <p>
        Добрий день, Вітаю Вас на сайті спілкування між студентами та викладачами Черкаського Національного Університету імені Богдана Хмельницького.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col m6 l6 s12">
      <p>
        Якщо Ви викладач, ви маєте наступні можливості можливості:
      </p>
      <ul>
        <li>Створювати навчальні кімнати, та додавати туди студентів</li>
        <li>Спілкуватися з студентами в чаті</li>
        <li>Створювати та редагувати консультації, та прив`яхувати їх до студентів</li>
        <li>Переглядати всі майбутні консультації</li>
      </ul>
    </div>
    <div class="col m6 l6 s12">
      <p>
        Якщо Ви студент, ви маєте такі можливості:
      </p>
      <ul>
        <li>Спілкуватися з студентами та викладачами в чаті.</li>
        <li>Переглядати всі консультації які мають відбутися для вашої групи</li>
      </ul>
    </div>
  </div>
</div>
