<div class="row block-wrapper">
  <div class="col s12 m12">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <div class="col s12">
          <a href="#!" class="breadcrumb" routerLink="/admin">Адміністративна зона</a>
          <a href="#!" class="breadcrumb" routerLink="/admin/users">Список користувачів</a>
          <a href="#!" class="breadcrumb" routerLink="/admin/users/create">Створення нового користувача</a>
        </div>
      </div>
    </nav>
    <div class="card-panel">
      <div class="main-title">
        <h3>Створення нового користувача</h3>
      </div>

      <div class="user-form">
        <app-user-form (submitUser)="onSubmitUser($event)"></app-user-form>
      </div>
    </div>
  </div>
</div>


<div materialize [materializeParams]="['Користувач успішно стоворений', 4000]" [materializeActions]="createUserActions"></div>
